.main-chart{
    padding: 20px ;
    margin: 20px;
    box-shadow: 2px 4px 13px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 2px 4px 13px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 4px 13px 0px rgba(0,0,0,0.75);
}